table.row.footer
  tr
    td.center(align='center')
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                    center
                      p.imprint(style='text-align:center;')
                        | Hotel Gasthof Rössle - Erika Mauz - An der Hilb 13 - 7210 Frohnstetten - Deutschland - info@roessle.eu - www.roessle.eu
                      p.unsubscribe(style='text-align:center;')
                        | Wenn Sie diese E-Mail nicht mehr empfangen möchten, können Sie diese hier abbestellen.
                  td.expander
