table.row.footer
  tr
    td.center(align='center')
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                    center
                      p.imprint(style='text-align:center;')
                        | Hotel Gasthof Rössle - Erika Mauz - An der Hilb 13 - 7210 Frohnstetten - Deutschland - <a href="mailto:info@roessle.eu">info@roessle.eu</a> - <a href="http://www.roessle.eu">www.roessle.eu</a>
                      p.unsubscribe(style='text-align:center;')
                        | Wenn Sie diese E-Mail nicht mehr empfangen möchten, können Sie diese <a href="http://54834.seu1.cleverreach.com/rmftlp.php?cid=[CTID]&amp;mid=[MAILING_ID]&amp;h=[CTID]-[USER_ID_SECURE]">hier</a> abbestellen.
                  td.expander
