table.row.bar
  tr
    td.center(align='center')
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                  td.expander
table.row.header
  tr
    td.center(align='center')
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                    center
                      p(style='text-align:center;')
                        | Wird diese Nachricht nicht richtig dargestellt, klicken Sie bitte <a href="#">hier</a>.
                  td.expander
