@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import 'colors';
@import 'settings';
@import 'foundation-emails';

// Body Styles
body, html, .body {
  background: $white;
}

.header {
  background-color: $sand;
  background-image: url(http://assets.roessle.eu/images/backgrounds/light_stone.jpg);
}

.header .container {
  background: transparent;
}

.hero-1 {
  table {
    background-color: $maroon;
    h1 {
      color: $white;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.poem {
  font-style: italic;
}

.footer {
  background-color: #2a2a2a;

  .container {
    background: none;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    color: $white;
    margin-bottom: 12px;

    &.imprint {
      font-size: 16px;
    }
    &.unsubscribe {
      font-size: 14px;
    }
  }
  a, a:visited, a:hover {
    color: $white !important;
  }
  .imprint a {
    text-decoration: none;
  }
}

a {
  text-decoration: underline;
}
