extends layout/_layout

block content
  include layout/_header

  // Email content

  table.container
    tr
      td
        // content start
        table.row.hero-1-wrapper
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.hero-1
                    h1
                      | Frohe Weihnachten
                  td.expander
        table.row.hero-2-wrapper
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    img(width='580', height='300', src='http://localhost:3000/christmas.jpg')
                  td.expander
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    h2
                      | Liebe Freunde, liebe Gäste, liebe Geschäftspartner,
                    p
                      | Das Jahr neigt sich dem Ende zu und wir möchten auf diesem Wege die Gelegenheit nutzen, uns bei Ihnen recht herzlich für das entgegengebrachte Vertrauen zu bedanken!
                    p
                      | Wir wünschen Ihnen eine schöne Adventszeit, frohe Festtage, Zeit zur Entspannung, Besinnung auf die wirklich wichtigen Dinge und im kommenden Jahr viel Gesundheit und Erfolg!
                    p
                      | Fam. Mauz, Opa Josef Hahn, Fam. Stehle und das gesamte Team vom Hotel Gasthof Rössle.
                  td.expander
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.center
                    img(src='http://assets.roessle.eu/images/logos/stamp_hotel_gasthof_roessle-h100.png').center
                  td.expander
                  
  include layout/_footer
